.output {
    height: 1000px;
    width: 50%;
    border: 2px solid;
    overflow: scroll;
}

@media print {
    html, body {
      height: 100vh; /* Use 100% here to support printing more than a single page*/
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
    }
  }