legend {
    font-size: 20px;
}

.education-container {
    padding: 20px;
    margin-bottom: 20px;
}

.education-container > div label {
    margin-bottom: 5px;
    font-size: 20px;
}

.education-container > div input {
    padding: 5px 5px;
    font-size: 20px;
}


.education-container div:not(.study-duration-input, .btn-container, .date-inputs) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education-container div:not(.institution-input, .date-inputs, .item) {
    margin: 25px 0;
}

.education-container  div .institution-input {
    margin-bottom: 25px;
}


.education-container .education-instructions {
    display: block;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    margin: 20px 0;
}

.study-duration-input {
    display: flex;
    flex-direction: column;
}

.education-container .study-duration-input .start-date-input {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.study-duration-input .end-date-input {
    display: flex;
    flex-direction: column;
}

.date-inputs {
    display: flex;
}

.achievements-input .item > div:nth-child(2) {
    margin: 30px 0;
}

.achievements-input .item label {
    margin-bottom: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-right: 20px;
}

.btn-container button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 5px 6px 2px;
}

.btn-container button:hover {
    cursor: pointer;
}

.btn-container button:nth-child(2) {
    margin: 0px 25px;
}