legend {
    font-size: 20px;
}

.experience-container {
    padding: 20px;
    margin-bottom: 20px;
}

.experience-container > div label {
    margin-bottom: 5px;
    font-size: 20px;
}

.experience-container > div input {
    padding: 5px 5px;
    font-size: 20px;
}


.experience-container div:not(.job-duration-input, .btn-container) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience-container div:not(.company-input, .job-duration-input) {
    margin: 25px 0;
}

.experience-container div .company-input {
    margin-bottom: 25px;
}

.job-duration-input {
    display: flex;
}


.company-container .job-duration-input .start-date-input {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.job-duration-input .end-date-input {
    display: flex;
    flex-direction: column;
}

.tasks-input label:first-child {
    margin-bottom: 20px;
}

.tasks-input input:not(#task3) {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-right: 20px;
}

.btn-container button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 5px 6px 2px;
}

.btn-container button:hover {
    cursor: pointer;
}

.btn-container button:nth-child(2) {
    margin: 0px 25px;
}