legend {
    font-size: 20px;
}

.experience-container {
    padding: 20px;
    margin-bottom: 20px;
}

.experience-container > div label {
    margin-bottom: 5px;
    font-size: 20px;
}

.experience-container > div input {
    padding: 5px 5px;
    font-size: 20px;
}


.experience-container div:not(.btn-container, .tasks-input, .task, .input-btn-group, .date-inputs) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience-container div:not(.company-input, .input-btn-group, .date-inputs) {
    margin: 25px 0;
}

.experience-container div .company-input {
    margin-bottom: 25px;
}

.experience-container .experience-instructions {
    display: block;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    margin: 20px 0;
}

.experience-container .experience-instructions:last-of-type {
    margin-top: 10px;
}

.experience-container .job-duration-input {
    justify-content: center;
}


.experience-container .job-duration-input .date-inputs {
    display: flex;
}


.job-duration-input {
    display: flex;
}


.company-container .job-duration-input .start-date-input {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.job-duration-input .end-date-input {
    display: flex;
    flex-direction: column;
}


.task label {
    margin-bottom: 5px;
}

.task > div {
    display: flex;
    margin-top: 10px;
}

.task > div > input {
    margin-right: 5px;
}

.task > div > button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-right: 20px;
}

.btn-container button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 5px 6px 2px;
}

.btn-container button:hover {
    cursor: pointer;
}

.btn-container button:nth-child(2) {
    margin: 0px 25px;
}