p {
    font-size: 18px;
}

li {
    font-size: 16px;
}

.institution {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}


.name-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.study-title-location {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.study-title {
    font-style: italic;
}

.study-title p {
    font-size: 20px;
}

.key-points {
    margin-top: 5px;
    padding-left: 40px;
} 
