* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.templates {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn-container button {
  padding: 10px 30px;
  font-size: 25px;
  border: none;
  border-radius: 15px;
}

.submit-btn-container button:hover {
  cursor: pointer;
}